.CardComponent {
    border: solid lightgray 1px;
    margin: 20px;
    background-color: white;
    padding-top: 20px;
}

.CardComponent-Title {
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CardComponent-Text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CardComponent-Link {
    text-decoration: none;
    color: black;
}
