.CompanyCard {
    border: solid lightgray 1px;
    margin: 20px;
    background-color: white;
}

.CompanyCard-Title {
    font-size: large;
    font-weight: bold;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CompanyCard-Text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CompanyCard-Link {
    text-decoration: none;
    color: black;
}