
  .Loading {
    margin: 200px auto 0 auto;
    text-align: center;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.40rem solid transparent;
    border-top-color: black;
    border-radius: 50%;
    -webkit-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }